.Card--grid.cart-item {
    grid-template-columns: 50px 1.5fr 1fr 100px 100px 100px;
}

/* .Card--cart > * { */
/* flex: 1; */
/* display: flex; */
/* background-color: rebeccapurple; */
/* flex-direction: column; */
/* margin: 20px; */
/* display: block; */
/* } */

.cart-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .cart-item-imge p { */
/* width: 40px; */
/* text-align: center; */
/* } */

.cart-item-total {
    grid-column: 5;
}

.cart-item-quantity-input {
    width: 70%;
}

.cart-item-checkout {
    grid-column: 6;
}
