/* General  */

.header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: peachpuff;

    /* margin: 30px 0; */

    height: 60px;
}

.header > div {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search {
    flex: 1;
}

.button-header {
    /* transition: transform 0.15s ease-in-out; */
    transition: background-color 0.15s ease-in-out; /* Corrected property */
    background-color: peachpuff;

    user-select: none;
    cursor: pointer;
}

.button-header:hover {
    color: green;
    /* transform: scale(1.1); */
    background-color: gray;
}

/* Header */

.header .logo {
    cursor: pointer;
}

/* Shop */

.header .shop-container {
    /* padding: 0; */
    position: relative;
}

.header .shop-container .shop {
    /* padding: 0 20px; */
    /* padding: 5px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.header .shop-container .shop.active {
    color: green;
    background-color: gray;
}

.header .shop-container .shop > img {
    width: 24px;
    height: auto;
    transition: transform 0.15s ease-in-out;
    /* transform: rotate(180deg); */
}
.header .shop-container .shop > img.active {
    transform: rotate(180deg);
}

.header .shop-container .shop > h3 {
    padding-right: 5px;
}

/* Shop - Dropdown */

.header .shop-container .shop-dropdown,
.container-subcategory {
    display: none;
    position: absolute;
    padding: 15px 10px;
}
.header .shop-container .shop-dropdown {
    top: 100%;
    left: 0;
}
.container-subcategory {
    left: 100%;
    top: 0%;
}

.header .shop-container .shop-dropdown.active,
.container-subcategory.active {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    /* padding: 20px 10px; */
    background-color: cornflowerblue;
}

.container-category {
    position: relative;
}

.shop-dropdown-category {
    display: flex;
    /* flex-direction: column; */
}
.shop-dropdown-category > p {
    flex: 1;
    padding-right: 20px;
}
.shop-dropdown-category > img {
    width: 16px;
    transition: transform 0.15s ease-in-out;
}
.shop-dropdown-category > img.active {
    transform: rotate(90deg);
}

.button-shop-dropdown {
    background-color: rosybrown;
    transition: transform 0.15s ease-in-out;
    user-select: none;

    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
}

.button-shop-dropdown:hover {
    transform: scale(1.02);
}

/* Search */

.header .search form {
    width: 100%;
}

.header .search form input {
    width: 100%;
    height: 25px;
}

/* Profile */

.header .profile {
    display: flex;
}
.header .profile > div {
    padding: 0 10px;
}

.icon-profile {
    width: 24px;
    height: auto;
    cursor: pointer;
}
