/* General  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    /* color: white; */
}

.header > div {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search {
    flex: 1;
}

.button-header {
    background-color: transparent;
    color: var(--neon-green);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;

    text-decoration: none;
    user-select: none;
}

.button-header:hover {
    color: var(--secondary-color);
}

/* Header */

.logo h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.logo h3:hover {
    color: var(--accent-color);
}

/* Shop */

.shop-container {
    position: relative;
}

.shop-container .shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-container .shop.active {
    color: var(--secondary-color);
}

.shop-container .shop > img {
    width: 24px;
    height: auto;
    transition: transform 0.15s ease-in-out;
    /* color: white; */
    /* transform: rotate(180deg); */
}
.shop-container .shop > img.active {
    transform: rotate(180deg);
}

.shop-container .shop > h3 {
    padding-right: 5px;
}

/* Shop - Dropdown */

.shop-container .dropdown {
    /* background-color: white; */
    background-color: #2a3244;
    animation: fadeIn 0.3s ease-out;

    display: none;
    position: absolute;
    padding: 15px 10px;

    grid-template-columns: auto;
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    /* border: 2px solid black; */
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    /* box-shadow: 5px -5px var(--accent-color); */
    outline: solid 1px var(--neon-green-muted);

    z-index: 1000;
}

.shop-container .shop-dropdown {
    top: 100%;
    left: 0;
}
.shop-container .container-subcategory {
    left: calc(100% + 20px);
    top: 0%;
}

.shop-container .dropdown.active {
    display: grid;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Inner Dropdown Styling */
.container-category {
    position: relative;
}

.shop-dropdown-category {
    display: flex;
}

.shop-dropdown-category > p {
    flex: 1;
    padding-right: 20px;
}
.shop-dropdown-category > img {
    width: 16px;
    transition: transform 0.15s ease-in-out;
}

.button-shop-dropdown:hover > img {
    filter: none;
    -webkit-filter: none;
}
.shop-dropdown-category > img.active {
    transform: rotate(90deg);
}

.button-shop-dropdown {
    background-color: transparent;
    /* color: var(--text-color); */
    color: white;
    /* color: var(--darkgrey); */
    padding: 8px 12px;
    margin: 2px 0;

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;

    border-radius: 6px;

    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s ease-in-out;
    text-align: left;
}

.button-shop-dropdown:hover {
    background-color: var(--neon-green);
    color: black;
}

/* Search */

.search form {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    margin: 0;
}

.search form input {
    width: 100%;
    border-radius: 4px 0 0 4px;
}

/* Profile */

.profile {
    display: flex;
    gap: 2rem;
}

.icon-profile {
    width: 24px;
    height: auto;
    cursor: pointer;
    transition: color 0.3s ease;
}
