.item-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.item-content-container {
    border-radius: 15px;

    position: relative;
    flex: 1;
    /* background-color: var(--offwhite); */

    padding: 40px;
    margin: 40px;

    display: flex;
    /* justify-content: center; */
}

.item-content {
    display: flex;
    /* background-color: var(--offwhite); */
}

.item-content > div {
    flex: 1;
}

/* Image */

.item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: red; */
}

.item-image {
    background-color: beige;
    height: 400px;
    width: 400px;
}

/* Text */

.item-text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 60px;
}

.item-text-container > .item-text-name {
    margin-bottom: 24px;
}

.item-text-container > .item-text-description {
    /* flex: 1; */
    margin-bottom: 50px;
}

.item-text-container .button-input-container {
    padding: 20px 0;
    margin-top: auto;
}

.button-input-container input {
    height: 30px;
}
